@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/button2.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	background-color: white;
	width: 100%;
	margin: 0px;

}
h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
}

a {
	text-decoration: none;
}

#main-title{
	margin-top: 0;
}

.banner{
	display: inline-block;
	width: 90%;
	margin-left: 5%;
    flex-wrap: wrap;
}


.container-description{
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	width: 40%;
	margin-left: 24%;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.formulaire-inscription{
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	width: 40%;
	margin-left: 24%;
}

input{
	padding-left: 15px;
	padding-right: 15px;
	border: none;
}

.formulaire-inscription{
	text-align: center;
}

#text-formulaire{
	margin-top: 0px;
}

.custom-select{
	width: auto;
	align-self: flex-start;
	position: relative;
	margin-top: 15px;
	background-color: #ECECEC;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-color: #676767;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #ECECEC;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #676767 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #676767 transparent;
  top: 15px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #676767;
  padding: 8px 40px 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
	background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.container-petit{
	width: 20%;
	margin-left: 20%;
	float: left;
	text-align: center;
}

.right{
	width: 40%;
	margin-right: 18%;
    float: right;
}

.btn-grey{
	display: inline-block;
	margin-top: 2%;
	background-color: white;
	box-shadow: 0px 2px 0px 3px rgba(0, 0, 255, .2);
}

.btn-blue{
	display: block;
	margin: auto;
	margin-top: 30px;
}

.btn-search{
	background-color: #38B6FF;
	color: white;
	padding: 15px 20px;
	border-radius: 10px
}

.login-btn{
	display: block;
	margin: auto;
	margin-top: 15px;
	color: #CC6464;
}

.section-description{
	display: inline-block;
	margin-top: 50px;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	background-color: rgba(196, 196, 196, 0.15);
}

.total-champs{
	margin-top: 20px;
	margin-left: 40px;
	color: black;
}

#total{
	width: 60px;
	height: 45px;
	margin-left: 15px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	text-align: center;
	font-size : 18px;
	border-radius: 5px;
}

.champ-form{
	width: 300px;
	height: 45px;
	margin: 0px auto 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	font-size : 18px;
	border-radius: 5px;
}

.fond{
	position: absolute;
	background-color: rgba(128, 128, 128, 0.70);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 80px;
	height: 100vh;
}

/*MENU DU HAUT */

nav{
    
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 1rem;
}

nav .menu-liens{
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
    align-items: flex-start;
}

.menu-liens a{
	margin-left: 30px;
}

#btn-menu{
	background-color: #004AAD;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
	color: white;
}


nav a{
    
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.element-menu-droite{
	border: 2px solid red;
	width: 60%;
	float: right;
}

.txt-menu #btn-menu{
	float: right;
	border: 2px solid blue;
}

/*FIN MENU DU HAUT */


/* HOMEPAGE */

.header-home{
	background-image: url("../images/header-home-bg.jpg");
	background-size: cover;
	background-position-y: -250px;
}

.header-home-bg{
	background-color: rgba(255, 255, 255, 0.7);
	padding-bottom: 63px;
}

.header-home h1{
	font-size: 64px;
	line-height: 87px;
	text-align: center;
	font-weight: bold;
}

#logo-menu{
	width: 180px;
	height : 180px;
	border-radius: 20px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-home .search-room{
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-home .search-room input{
	width: 16%;
	border-radius: 5px;
	margin-right: 23px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	font-size: 28px;
	line-height: 38px;
	text-align: center;
	color: #000000;
	padding: 25px;
}

.header-home .search-room input::placeholder{
	color: #D3D3D3;
}

.header-home .search-room .btn-main{
	background-color: #38B6FF;
	border-radius: 5px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	font-size: 35px;
	line-height: 47px;
	text-align: center;
	color: white;
	padding: 24px 40px;
	border: none;
}

.header-home .search-room input:focus{
	outline: none;
}

.home-category{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 130px 18vh 0px;
}

.home-category .img-cadre{
	width: 150px;
	height: 150px;
	background-image: url("../images/table-chaises.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin-bottom: 15px;
}

.home-category .img-cadre.sofas{
	/*Changer background-image selon les images de chaque catégorie*/
}

.home-category a{
	font-size: 28px;
	line-height: 38px;
	text-align: center;
	color: #000000;
}

.home-category a:hover, .home-category a:focus{
	text-decoration: none;
}

.home-discover{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 230px 22vh;
}

.home-discover h2{
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;
	color: #000000;
	margin-bottom: 0px;
}

.home-discover p{
	font-size: 24px;
	line-height: 33px;
	color: #000000;
}

.grid-discover .block{
	height: 45vh;
	background-image: url("../images/salon.jpg");
	background-size: cover;
	filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));

}

.grid-discover .block.living-room{
	/*Changer background-image selon les images de chaque catégorie*/
}

.grid-discover .block.big{
	width: 64%;
	background-position: center;
}

.grid-discover .block.small{
	width: 34%;
}

.grid-discover .grid-top, .grid-discover .grid-bottom{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 35px;
}

.grid-discover a{
	display: flex;
	align-items: flex-end;
	color: white;
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
}

.grid-discover a:hover, .grid-discover a:focus{
	text-decoration: none;
}

.grid-discover span{
	margin-bottom: 10px;
	margin-left: 20px;
}

/* FIN HOMEPAGE */

/* RESPONSIVE HOMEPAGE */

@media screen and (max-width: 1600px){
	
	.grid-discover .block{
		height: 35vh; 
	}

	.home-discover{
		padding: 170px 20vh;
	}
}